#nprogress .bar {
  background: #f05b91 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f05b91, 0 0 5px #f05b91;
}

#nprogress .spinner-icon {
  border-top-color: #f05b91;
  border-left-color: #f05b91;
}

html {
  strong,
  a {
    font-weight: 700;
    color: #f05b91;
  }
}
